{% if organisation %}
    {% if organisation.domain %}
        <div class="bg-plaster-50 mb-6 p-5">
            {{ include('Staff/partialOrgContactDetails.html.twig', {
                'name': organisation.name(language),
                'visiting': organisation.street ~ ', ' ~ organisation.location,
                'postal': organisation.postalAdress,
                'internal': organisation.postOfficeBox,
                'phone': organisation.telephoneNumber ?: organisation.vxNumber,
                'website': organisation.url,
                'gm_key': google['browser_api_key'],
                'gm_q': organisation.gpsC,
                'portalUrl': portalUrl,
                'newlucat': true
            }) | raw }}
        </div>
    {% endif %}
{% endif %}
