<div class="bg-stone-25 py-9">
    <div class="container">
        <div class="row mt-8">
            <div class="col-12 text-center">
                <h2 class="h1">{{ pimcore_input('heading') }}</h2>
                <p>{{ pimcore_textarea('beskrivning') }}</p>
            </div>
        </div>

        {% if editmode %}
            <div class="row my-4"></div>
        {% endif %}

        <div class="row">
            <div class="col-12 mx-auto">
                {{ pimcore_areablock('rightAreablock', {
                    'allowed': ['wysiwyg']
                }) }}
            </div>
        </div>
    </div>
</div>
