{% extends 'Layouts/new.html.twig' %}

{% block content %}
    <div id="text_wrapper" class="grid-15 push-8 alpha">
        <article id="text_content_main">
            <div id="share_wrapper" class="clearfix"></div>
            <header id="page_title">
                <h1>Sidan kan inte hittas</h1>
                <h2>Page not found</h2>
            </header>
            <p>
                Sidan du letar efter kan tyvärr inte hittas. Det kan bero på att sidan har tagits bort eller flyttats.
                Kontrollera gärna att URL:en inte innehåller några skrivfel om du matat in den själv i webbläsaren. Vi
                är tacksamma om du vill meddela den brutna länken till {{ ehl_page_manager(document)|raw }}.
            </p>
            <p><em>
                    We’re sorry for the inconvenience, but the page you requested does not exist or has been moved.
                    Please notify {{ ehl_page_manager(document)|raw }} if you were linked to this page from another
                    part of our website.
                </em></p>
        </article>
    </div>
{% endblock %}
