{% if employee %}
    {{ ehl_staff_detail(
        employee,
        {
            'image': pimcore_checkbox('displayImage').data,
            'heading': pimcore_checkbox('displayHeading').data,
            'roleinfo': false,
            'view': 'Staff/areablockPersonContactDetails.html.twig',
            'language': language,
            'baseuri': baseuri,
        },
    ) | raw }}
{% else %}
    {% if editmode %}
        <div class="alert alert-danger">Ange giltig medarbetare Lucat-ID.</div>
    {% endif %}
{% endif %}