{% for i in pimcore_iterate_block(pimcore_block('carousel-item')) %}
    <div class="masonry-tile-img mb-2">
        <div class="masonry-tile-img-bg">
            {{ pimcore_image('image', {
                'hidetext': true,
                'uploadPath': '/images/ehl/carousel/',
            }) }}
        </div>
        <div class="masonry-tile-img-content">
            <div class="blockline">
                <div class="linktext">{{ pimcore_link('link') }}</div>
            </div>
        </div>
    </div>
{% endfor %}

{# Custom Style #}
<style>
    .masonry-tile-img { border: dashed #4d4c44 1px; height: 420px; }
    .pimcore_tag_image_empty {height:100%;}
    .masonry-tile-img-content .linktext {
        background-color: #fff; font-family: Georgia,serif;
        font-size: 2rem; padding:16px; line-height:2.4rem;
    }
    .masonry-tile-img-content .linktext a {text-decoration: none;}
</style>
