<div class="col-lg">
    <div class="nav-footer mb-3 mb-lg-4">
        <a href="#dark-departments" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed d-flex justify-content-between p-0" data-toggle="collapse" aria-expanded="false" aria-controls="dark-departments">
            <span>Institutioner</span>
            <div class="text-dark-25 d-lg-none">
                <span class="collapse-show"><i class="fal fa-chevron-down"></i></span>
                <span class="collapse-hide"><i class="fal fa-chevron-up"></i></span>
            </div>
        </a>
        <div class="collapse collapse-lg" id="dark-departments">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="https://ekh.lu.se/" class="nav-link py-2 py-lg-1 px-0">Ekonomisk-historiska institutionen</a></li>
                <li class="nav-item"><a href="https://fek.lu.se/" class="nav-link py-2 py-lg-1 px-0">Företagsekonomiska institutionen</a></li>
                <li class="nav-item"><a href="https://har.lu.se/" class="nav-link py-2 py-lg-1 px-0">Institutionen för handelsrätt</a></li>
                <li class="nav-item"><a href="https://ics.lu.se/" class="nav-link py-2 py-lg-1 px-0">Institutionen för informatik</a></li>
                <li class="nav-item"><a href="https://nek.lu.se/" class="nav-link py-2 py-lg-1 px-0">Nationalekonomiska institutionen</a></li>
                <li class="nav-item"><a href="https://stat.lu.se/" class="nav-link py-2 py-lg-1 px-0">Statistiska institutionen</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-footer mb-3 mb-lg-4">
        <a href="#dark-centres" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed d-flex justify-content-between p-0" data-toggle="collapse" aria-expanded="false" aria-controls="dark-centres">
            <span>Forskningscentrum</span>
            <div class="text-dark-25 d-lg-none">
                <span class="collapse-show"><i class="fal fa-chevron-down"></i></span>
                <span class="collapse-hide"><i class="fal fa-chevron-up"></i></span>
            </div>
        </a>
        <div class="collapse collapse-lg" id="dark-centres">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="https://ed.lu.se/" class="nav-link py-2 py-lg-1 px-0">Centrum för ekonomisk demografi</a></li>
                <li class="nav-item"><a href="https://handel.lu.se/" class="nav-link py-2 py-lg-1 px-0">Centrum för handelsforskning</a></li>
                <li class="nav-item"><a href="https://ehl.lu.se/forskning/hallbar-naringslivsutveckling" class="nav-link py-2 py-lg-1 px-0">Centrum för hållbar näringslivsutveckling</a></li>
                <li class="nav-item"><a href="https://www.agrifood.se/" class="nav-link py-2 py-lg-1 px-0">Agrifood Economics Centre</a></li>
                <li class="nav-item"><a href="https://entrepreneur.lu.se/" class="nav-link py-2 py-lg-1 px-0">Sten K Johnson Centre for Entrepreneurship</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg">
    <div class="nav-footer mb-3 mb-lg-4">
        <a href="#dark-studies" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed d-flex justify-content-between p-0" data-toggle="collapse" aria-expanded="false" aria-controls="dark-studies">
            <span>Nybörjarprogram och kurser</span>
            <div class="text-dark-25 d-lg-none">
                <span class="collapse-show"><i class="fal fa-chevron-down"></i></span>
                <span class="collapse-hide"><i class="fal fa-chevron-up"></i></span>
            </div>
        </a>
        <div class="collapse collapse-lg" id="dark-studies">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/utbildning/program-och-kurser/nyborjarprogram/bsc-economy-and-society" class="nav-link py-2 py-lg-1 px-0">BSc Economy and Society</a></li>
                <li class="nav-item"><a href="/utbildning/program-och-kurser/nyborjarprogram/bsc-international-business" class="nav-link py-2 py-lg-1 px-0">BSc International Business</a></li>
                <li class="nav-item"><a href="/utbildning/program-och-kurser/nyborjarprogram/ekonomie-kandidatprogrammet" class="nav-link py-2 py-lg-1 px-0">Ekonomie kandidatprogrammet</a></li>
                <li class="nav-item"><a href="/utbildning/program-och-kurser/nyborjarprogram/systemvetenskapliga-kandidatprogrammet" class="nav-link py-2 py-lg-1 px-0">Systemvetenskapliga kandidatprogrammet</a></li>
                <li class="nav-item"><a href="/utbildning/program-och-kurser/kurser" class="nav-link py-2 py-lg-1 px-0">Fristående kurser</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-footer mb-3 mb-lg-4">
        <a href="#dark-phd" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed d-flex justify-content-between p-0" data-toggle="collapse" aria-expanded="false" aria-controls="dark-phd">
            <span>Forskarutbildning</span>
            <div class="text-dark-25 d-lg-none">
                <span class="collapse-show"><i class="fal fa-chevron-down"></i></span>
                <span class="collapse-hide"><i class="fal fa-chevron-up"></i></span>
            </div>
        </a>
        <div class="collapse collapse-lg" id="dark-phd">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="https://ekh.lu.se/en/study/phd-program" class="nav-link py-2 py-lg-1 px-0">Ekonomisk historia</a></li>
                <li class="nav-item"><a href="https://fek.lu.se/forskarutbildning" class="nav-link py-2 py-lg-1 px-0">Företagsekonomi</a></li>
                <li class="nav-item"><a href="https://har.lu.se/forskning/forskarutbildning" class="nav-link py-2 py-lg-1 px-0">Handelsrätt</a></li>
                <li class="nav-item"><a href="https://ics.lu.se/en/education/phd-programme" class="nav-link py-2 py-lg-1 px-0">Informatik</a></li>
                <li class="nav-item"><a href="https://nek.lu.se/utbildning/forskarutbildning" class="nav-link py-2 py-lg-1 px-0">Nationalekonomi</a></li>
                <li class="nav-item"><a href="https://stat.lu.se/utbildning/forskarutbildning" class="nav-link py-2 py-lg-1 px-0">Statistik</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg">
    <div class="nav-footer mb-3 mb-lg-4">
        <a href="#dark-msc" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed d-flex justify-content-between p-0" data-toggle="collapse" aria-expanded="false" aria-controls="dark-msc">
            <span>Magister- och masterprogram</span>
            <div class="text-dark-25 d-lg-none">
                <span class="collapse-show"><i class="fal fa-chevron-down"></i></span>
                <span class="collapse-hide"><i class="fal fa-chevron-up"></i></span>
            </div>
        </a>
        <div class="collapse collapse-lg" id="dark-msc">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/accounting-finance" class="nav-link py-2 py-lg-1 px-0">Accounting &amp; Finance</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/medeg" class="nav-link py-2 py-lg-1 px-0">Economic Development &amp; Growth</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/economic-growth-population-development" class="nav-link py-2 py-lg-1 px-0">Economic Growth, Population &amp; Development</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/economics" class="nav-link py-2 py-lg-1 px-0">Economics</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/entrepreneurship-innovation" class="nav-link py-2 py-lg-1 px-0">Entrepreneurship &amp; Innovation</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/european-international-trade-tax-law" class="nav-link py-2 py-lg-1 px-0">European &amp; International Trade &amp; Tax Law</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/finance" class="nav-link py-2 py-lg-1 px-0">Finance</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/information-systems" class="nav-link py-2 py-lg-1 px-0">Information Systems</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/international-marketing-brand-management" class="nav-link py-2 py-lg-1 px-0">International Marketing &amp; Brand Management</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/international-strategic-management" class="nav-link py-2 py-lg-1 px-0">International Strategic Management</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/managing-people-knowledge-change" class="nav-link py-2 py-lg-1 px-0">Managing People, Knowledge &amp; Change</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/management" class="nav-link py-2 py-lg-1 px-0">Master’s in Management</a></li>
                <li class="nav-item"><a href="https://lusem.lu.se/study/masters/programmes/data-analytics-and-business-economics/overview" class="nav-link py-2 py-lg-1 px-0">MSc Data Analytics and Business Economics</a></li>
            </ul>
        </div>
    </div>
</div>
