<div class="bg-stone-25 py-9">
    <div class="container">
        {% if editmode %}
            {% include 'Areas/cards-block/_editmode.html.twig' %}
        {% else %}
            {% include 'Areas/cards-block/_notEditmode.html.twig' %}
        {% endif %}
    </div>
</div>